.user-roles-actions {
    height: 22px;
    width: 12%;
    color: #585858;
    /* font-family: "Nunito Sans"; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: right;
}

.th-role-description {
    height: 22px;
    width: 36%;
    color: #585858;
    /* font-family: "Nunito Sans"; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.th-role-creation-date {
    height: 22px;
    width: 15%;
    color: #585858;
    /* font-family: "Nunito Sans"; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.th-role-modified-date {
    height: 22px;
    width: 15%;
    color: #585858;
    /* font-family: "Nunito Sans"; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.user-back-mask {
    height: 40px;
    width: 200px;
    border-radius: 4px;
    background-color: #585858;
}

.user-back-button-label {
    /* height: 22px;
    width: 162px; */
    color: #FFFFFF;
    /* font-family: "Nunito Sans"; */
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
   text-align: center;
    position: absolute;
    right: 73px;
}