.create-exam-mask {
    height: 40px;
    width: 129px;
    border-radius: 4px;
    background-color: #EE3E56;
    position: absolute;
    right: 65px
  }

.exam-cancel-mask {
    height: 40px;
    width: 89px;
    border-radius: 4px;
    background-color: #585858;
    /* margin: 0px 10px 0px 680px; */
    position: absolute;
    right: 310px;
}

.exam-save-mask {
    height: 40px;
    width: 89px;
    border-radius: 4px;
    background-color: #585858;
    /* margin: 0px 10px 0px 680px; */
    position: absolute;
    right: 205px;
}

.exam-rectangle3 {
    height: 40px;
    width: 169px;
    background-color: #585858;
    /* margin-top: 32px; */
    position: absolute;
}

.sample-exam {
    height: 29px;
    width: 29px;
    background-color: #585858;
    margin: 5px 155px;
}

.section1-mrgn-lft {
    margin-left: 20px;
}
.main-container-mrgn-top {
    margin-top: 20px;
}

.add-exam-data-placeholder {
    height: 19px;
    width: 145px;
    color: #A0A0A0;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    top: 7px;
  }

  .exam-dd-base {
    box-sizing: border-box;
    height: 36px;
    /* width: 173px; */
    border: 1px solid #BCBDC0;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-top: 7px;
    position: relative;
    padding-left: 8px;
    margin-top: 17px;
}

.col-mrgn-tp{
    margin-top: -20px;
}

.exam-stage-rectangle {
    height: 40px;
    width: 359px;
    background-color: #585858;
    position: absolute;
}

.exam-square {
    height: 29px;
    width: 29px;
    background-color: #585858;
    margin: 5px 345px;
}

.hierarchy-label {
    height: 19px;
    width: 182px;
    color: #495057;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    left: 1095px;
    top: 11px;
}
.hierarchy-icon {
    position: absolute;
    right: 190px;
}

.down-icn {
    position: absolute;
    right: 65px;
    /* top: -1px; */
    margin-top: 20px;
    transform: rotate(-90deg);
}

.drag-icn {
    margin-right: 8px;
}
.react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 10px;
    z-index: 10;
}

.react-datepicker-ignore-onclickoutside {
    font-size: 14px;
}


.add-exam-data-placeholder-DP {
    height: 19px;
    width: 123px;
    color: #A0A0A0;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    bottom: 2px;
  }

  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
    margin-left: 65px;
    position: absolute;
}

.react-datepicker__triangle {
    left:43px;
}

.cal-icon {
    float: right;
    margin-left: 124px;
    margin-bottom: 5px;
}


/* STAGES */
.all-stages {
    height: 19px;
    width: 90px;
    color: #5E5E5E;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    margin: 30px 0px 0px 45px;
  }

  .all-stages1 {
    height: 22px;
    width: 112px;
    color: #000000;
    /* font-family: Gotham; */
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 26px;
    margin: 5px 0px 0px 45px;
  }

  .stage-rectangle {
    box-sizing: border-box;
    height: 51px;
    width: 1154px;
    border: 1px solid #E3EAF0;
    background-color: #FAFBFD;
    margin: 5px 0px 11px 45px;
}

.add-stage-rectangle {
    box-sizing: border-box;
    height: 51px;
    width: 1154px;
    border: 1px solid #E3EAF0;
    background-color: #FAFBFD;
    margin-left: 45px;
    border-radius: 4px;
    margin-top: 30px;
}

.exam-container {
    margin-left: 12px;
    padding-right: 0px;
}

.add-stage-delete-group {
    height: 50px;
    width: 1140px;
    margin-left: 20px;
  }

  .stage-delete-label {
    height: 19px;
    width: 52px;
    color: #CE1D2C;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
  }

  .add-stage-copy-group {
    height: 19px;
    width: 153px;
    margin-left: 19px;
  }

  .stage-copy-label {
    height: 19px;
    width: 133px;
    color: #CE1D2C;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
  }

  .stages-box-mrgn {
      margin-top: 22px;
  }


  .exam-cat-dd-label {
    color: #A0A0A0;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 19px;
}

.exam-cat-dd-base {
    box-sizing: border-box;
    height: 36px;
    width: 165px;
    border: 1px solid #BCBDC0;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.stage-priliminary {
    height: 22px;
    width: 120px;
    color: #000000;
    /* font-family: Gotham; */
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 26px;
    margin-left: 45px;
  }

  .stage-pre-label {
    height: 19px;
    width: 182px;
    color: #495057;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin: 8px 0px 0px 10px;
}

.add-stage-data-placeholder1 {
    height: 19px;
    width: 56px;
    color: #A0A0A0;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    top: 7px;
    margin-left: 96px;
}

  .stage-time-placeholder {
    height: 19px;
    width: 67px;
    color: #495057;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    top: 6px;
  }

  .stage-time-base {
    box-sizing: border-box;
    height: 36px;
    width: 75px;
    border: 1px solid #BCBDC0;
    border-radius: 0 4px 4px 0;
    background-color: #FAFBFD;
  }

  .col-mrgn-tp1{
    margin-top: 24px;
}

.hierarchy-stage-label {
    height: 15px;
    width: 34px;
    color: #495057;
    /* font-family: "Nunito Sans"; */
    font-size: 11px;
    letter-spacing: 0;
    line-height: 15px;
    margin: 10px 10px 0px 10px;
    position: relative;
    bottom: 8px;
  }

  .tree-div {
    box-sizing: border-box;
    height: auto;
    width: 270px;
    border: 1px solid #BCBDC0;
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
  }

  .line-stage {
    box-sizing: border-box;
    height: 1px;
    width: 269px;
    border: 1px solid #E6E8F1;
    /* margin-top: 20px; */
}

.subtwo-div {
    position: absolute;
    right: -838px;
    z-index: 2;
}
.stage-icns-width {
    width: 4%;
}

.stage-hierarchy-last {
    height: 19px;
    /* width: 10%; */
    color: #495057;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    padding-top: 8px;
  
    
    }

    .add-stage-bottom-row {
        width: 100%;
        height: 36px;
        position: absolute;
        bottom: 0px;
        }
.bottom-col-width1 {
    width:15%
}

.bottom-col-width11 {
    width:5%
}

.bottom-col-width111 {
    width:10%
}

.add-stage-last-mask {
    height: 36px;
    width: 90px;
    border-radius: 0 0 4px 0;
    background-color: #EE3E56;
  }

  .add-stage-last-label {
    /* height: 19px;
    width: 27px; */
    color: #FFFFFF;
    /* font-family: "Nunito Sans"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
  }